@import "../ui-component/scss/utility.imports";

.homepage {
	.td-section-layout {
		margin: unset;
		padding: unset;
	}
	.content-wrapper {
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	// mobile
	@include breakpoint(max-width $breakpointsMobile) {
		
	}
	// tablet
	@include breakpoint($breakpointsTablet) {
		
	}
	// desktop
	@include breakpoint(min-width $breakpointsDesktop) {

	}
}