@import "./ui-component/scss/utility.imports";

.car-container {
	&.fields-equally-divided {
		grid-template-columns: repeat(auto-fit, minmax(1px, 1fr));
		span {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			grid-column: -1;
			width: rem(50);
			cursor: pointer;
		}
	}
}